.header {
    background-color: rgb(144, 174, 231);
    filter: drop-shadow(5px 5px 5px);
    padding: 20px; /* Add padding for better spacing */
}
.weatherResults{
    margin-top: 20px;
    filter: drop-shadow(5px 5px 5px);
    background-color: bisque;
}


